.header_container{
    font-family: 'Lora';
}

.header_titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header_topTitle{
    position: absolute;
    top: 15%;
    font-size: 20px;
}

.header_bottomTitle{
    position: absolute;
    top: 15%;
    font-size: 100px;
}

.header_img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .header_topTitle {
        position: absolute;
        top: 8%;
    }
    .header_bottomTitle {
        top: 8%;
    }
    
  }