.singlePost_container{
    flex: 9
}

.singlePost_wrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePost_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius:5px
}

.singlePost_title{
    text-align: center;
    font-family: 'Lora', serif;
    margin: 10px;
    font-size: 27px;
}

.singlePost_edit{
    float: right;
    font-size: 16px;
}

.singlePost_icon{
    margin-left: 10px;
    font-weight: 100;
    cursor: pointer;
}

.singlePost_icon:first-child{
    color: teal;
}

.singlePost_icon:last-child{
    color: tomato;
}

.singlePost_info{
    display: flex;
    margin-bottom: 28px !important;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', serif;
}

.singlePost_body{
    font-family: 'Varela Round', serif;
    line-height: 20px;
}

.singlePost_body::first-letter{
    margin-left: 25px
}