.write_absolute-container{
    width: 80%;
    margin: 0 auto;
    background: rgb(245, 245, 245);
}

.write_container{
    padding: 30px;
}

.write_form-group{
    display: flex;
    align-items: center;
}

.write_input{
    font-size: 30px;
    border: none;
    outline: none;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid transparent;
    background: rgb(245, 245, 245);

}
.write_input:focus{
    border-bottom: 1px solid rgb(174, 169, 169);
}

.write_text{
    border: none;
    font-size: 20px;
    height: 500px;
    width:100%;
    background: rgb(245, 245, 245);
    outline: none;

}

.write_img-container{
    width: 80%;
    margin: 0 auto;
}

.write_img{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 5px;
}
.write_button{
    background: rgb(187, 187, 187);
    padding:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: -webkit-fill-available;
}
/*

.write_form{
    position: relative;
}

.write_form-group{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.write_icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 20px;
    color: red;
    cursor: pointer;
}

.write_input{
    font-size: 30px;
    border: none;
    outline: none;
    padding: 20px;
    width: 70px
}

.write_text{
    border: none;
    font-size: 20px;
    height: 100vh;
    width:100%
}


*/